@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  

--color-bg:#5f0f40;
--color-bg-variant: #e36414;
--color-primary: #00b0ffz;
--color-primary-variant: #fb8b24;
--color-white: #ffffff;
--color-light: rgba(255, 255, 255, 0.8);

  --transition: all 400ms ease;

  --container-width-lg: 85%;
  --container-width-md: 96%;
  --container-width-sm: 95%;
}


  
 

  /* ============== GENEARL STYLES ============== */

  
  h1,
  h2,
  h3,
  h4,
  h5
  h6 {
    /* font-weight: 500; */
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  h1 {
    font-size: 2.5rem;
  }

 

  
  a {
    color: var(--color-primary);
    transition: var(--transition);
  }
  
  a:hover {
    color: var(--color-white);
  }

  a {
    color: white;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #ffffff;

}

  
  body {
    font-family: "Poppins", sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    
  }
  
  .btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
  }
  
  .btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
  }
  
  .btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
  }

  /* btn new */
  .btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

.btn-outline {
    color: white;
    border: 2px solid;
    border-color: white;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: white;
    border-color: #e36414;
    background-color: #869dc7;
}

.btn {
    border-radius: 30px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn-xl {
    font-size: 11px;
    padding: 15px 45px;
}

.bg-black {
  background-color: #000000 !important;
}

/* .bg-primary {
  background: #fdcc52;
  background: linear-gradient(#fdcc52, #fdc539);
} */

  .container {
    width: var(--container-width-lg);
    margin: 0 auto;
    transform: scale(1.1);
  }

  

  .container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    transform: scale(1.1);
  }

  .container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    transform: scale(1.1);
  }
  
  .contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    transform: scale(1.1);
  }
  
  .contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    transform: scale(1.1);
  }
  
  .contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
  }
  
  .contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .contact__option h5 {
    color: var(--color-light);
  }
  
  .contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
  }

/* the other contact */


/* Signup section ============= */

.contact-section {
  padding: 10rem 0;
  /* background: url("./assets/images/annie-spratt-unsplash.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
  border-top: 0.25rem solid #64a19d;
  border: 2px solid white;
}

.contact-section .card {
  box-shadow: 5px 5px 5px;
  background-color: #cccccc;
  padding: 0px;
  border-radius: 25px;
  transition: all 1s;
  overflow: hidden;
}

.contact-section .card:hover {
  transform: scale(1.1);
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #aeaeae;
  border-width: 0.25rem;
  width: 2rem;
}

.contact-section .social {
  margin-top: 5rem;
  background-color: #555;
  border-radius: 30px;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.537);
}

.contact-section .social a:visited {
  color: #eaeaea;
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #333;

}
  form {
    display: flex;
    flex-direction: colu;
    gap: 1.2rem;
  }
  form {
    width: 380px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  form > * {
    padding: 7px 10px;
    margin-bottom: 7px;
    border: 1px solid #ccc;
    outline: none;
  }

  footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #222222;
    float: none!important;
}

footer p {
    font-size: 12px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
}
.footerContact{

  display:flex;
  flex-direction:row;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}


hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

  
 header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #999;
  padding: 9px 3%;
}

header nav a {
  color: #fff;
  font-size: .95rem;
  text-decoration: none;
}

header nav a:not(:last-child){
  margin-right: 10px;
}

header nav a.active {
  text-decoration: underline;
} 


/* the other */

/* Hero section ============= */

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: #5f0f40;
  /* background: url("./assets/images/02-portfolio-3.jpg"); */
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  transition: all 3s;
}

.device-container img:hover {
  background: white;
  box-shadow: 0 10px 10px#aaa;
}

header.masthead .device-container img {
  border: 2px solid white;
  padding: 0px;
  border-radius: 25px;
  transition: all 1s;
  overflow: hidden;
}

header.masthead .device-container img:hover {
  transform: scale(1.2);
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}


  img {
    display: block;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
  }

  input,
  textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
  }

  main {
    padding: 25px 3%;
  }
  
  main h1.main-header {
  
    text-align: center;
    margin-bottom: 18px;
    
  }
   main p {
  
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
   }

   /* Navigation bar styles ============= */

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #555;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  margin: 20px;
}

#mainNav .navbar-brand {
  color: #b3c7e9;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 4px;
  font-style: italic;
  font-size: 30px;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: #869dc7;
}

#mainNav .navbar-toggler {
  font-size: 20px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav>li>a {
  font-size: 15px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav>li>a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav>li>a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav>li>a,
#mainNav .navbar-nav>li>a:focus {
  color: #869dc7;
}

#mainNav .navbar-nav>li>a:hover,
#mainNav .navbar-nav>li>a:focus:hover {
  color: #eaeaea;
}




   
   
   nav {
    background: rgba(0, 0, 0, 0.3);  
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}

/* .no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
} */

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}


.projects__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  max-width: 800px!important;

}

.projects__item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.projects__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.projects__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
 
}

.projects__item h3 {
  margin: 1.2rem 0 2rem;
}

.projects__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Testimonials section ============= */

/* section.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

section.testimonials .testimonial-item {
  max-width: 18rem;
}

section.testimonials .testimonial-item img {
  max-width: 20rem;
  box-shadow: 0px 5px 5px 0.7px #cccccc;
  border-radius: 0px;
}

section.testimonials .testimonial-item img {
  box-shadow: 5px 5px 5px;
  background-color: #cccccc;
  padding: 0px;
  border-radius: 25px;
  transition: all 1s;
  overflow: hidden;
}

section.testimonials .testimonial-item img:hover {
  transform: scale(1.2);
}

 */


  
  section {
    margin-top: 8rem;
  }
  
  section > h2,
  section > h5 {
    text-align: center;
    color: var(--color-light);
  }
  
  section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
  }
  
  .text-light {
    color: var(--color-light);
  }

  .text-primary {
    color: #fdcc52;
}
  
  
  /* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
  @media screen and (max-width: 1024px) {
    .container {
      width: var(--container-width-md);
    }
  
    section {
      margin-top: 6rem;
    }
  }
  
  /* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
  @media screen and (max-width: 600px) {
    .container {
      width: var(--container-width-sm);
    }
  
    section > h2 {
      margin-bottom: 2rem;
    }
  }


  
  
 
  
  /* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
  @media screen and (max-width: 1024px) {
    .container.contact__container {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  
  /* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
  @media screen and (max-width: 600px) {
    .container.contact__container {
      width: var(--container-width-sm);
    }
  }

  

  /* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }
}

  
 



